.projectDetails {
  flex: 5;
  padding: 15px 18px;
}
.projectHeaderContainer {
  display: flex;
  margin-left: 6px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}
.headerIcon {
  font-size: 32px !important;
  color: blue !important;
}
.projectId {
  font-size: 14px;
  font-weight: 400;
  color: rgb(92, 105, 106);
}
.projectDataContainer {
  display: flex;
}
.projectDataContainerLeft {
  flex: 3;
}

.projectDataContainerTop {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.projectDataContainerTop button {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}
.projectDataContainerTop button:hover {
  background-color: rgb(249, 188, 249);
}

.ticektDataBottom {
  height: max-content;
  flex-direction: column;
}
.projectDataBottomItemsWrapper{
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  display: flex;
  padding: 5px 0px 10px 0px;
gap:10px


}
.projectDataBottomItemsLeft{
 display: flex;
 flex-direction: column;
 gap:6px;
 padding:0px 10px;
  flex:4;
 justify-content: center;


}

.projectDataBottomItemsLeft .projectDataBottomItem input,textarea {
width: 96%;
}
.projectDataBottomItemsRight{

flex:1;
display: flex;
flex-direction: column;
align-items: center;



}
.projectDataBottomItemsRight .projectDataBottomItem{
 
width: 100%;
display: flex;

align-items: center;
}
.projectDataBottomItemsRight label{

  width: max-content;
text-align: center;
}

.projectDataBottomItemsRight .projectDataBottomItem input:disabled{
text-align: center;
width: max-content;
background-color:transparent;
border-bottom: transparent;
}
.projectDataBottomItemsRight .projectDataBottomItem select:disabled{
border: none;
}

.projectDataBottomItemsRight .projectDataBottomItem select{
text-align: center;
width: max-content;
}
.projectDataBottomItem-img{

  width: 65px;
  height: 65px;
  border-radius: 20%;
  
  object-fit: cover;
}





.projectDataBottomItem {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
 .projectDataBottomItem > input {
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 15px;
  padding: 0px 5px;
  
}
.projectDataBottomItem > input:disabled {
border-bottom: 1px solid rgb(213, 203, 203);

background-color: transparent;
}
.projectDataBottomItem textarea {
  resize: none;
  height: 70px;
  border-radius: 5px;
}
.projectDataBottomItem > label {
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
}

.projectDataBottomItem select {
  width: 100%;
  padding: 5px 5px;
  text-align: left;
  background: transparent;
  border-bottom: 1px ridge grey;
}
.projectDataContainerRight {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  flex: 1;
  margin-left: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.projectInfoTop {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}
.projectInfoTopImg {
  width: 100px;
  height: 140px;
  border-radius: 5px;
  object-fit: cover;
}
.projectInfoTopAuthor {
}
.projectInfoItemsContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}
.projectAuthorDataWrapper {
  display: flex;
  flex-direction: column;
}
.projectInfoAuthorName {
  font-size: 20px;
  font-weight: 600;
}
.projectInfoAuthorJobTitle {
  font-weight: 300;
  text-align: center;
}
.projectInfoBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectInfoBottomItem {
  display: flex;

  width: 100%;
  margin-bottom: 20px;
}
.projectInfoBottomItem > span {
  margin-left: 40px;
}

.projectDataBottomItem-Btns {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}
.projectDataBottomItem-Btns button {
  padding: 6px;
  width: 55px;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 400;
  background: rgb(144, 72, 144);
  cursor: pointer;
}
.contributorsList {
  border: 2px solid rgb(174, 0, 255);
  padding: 5px;
}
.contributorItem {
  background-color: olive;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-around;
}
.dataGrid{
padding: 0px 5px;
}

.error {
  color: red;
}

::placeholder {
  color: black;
  font-weight: 400;
}
