@import "../../index.css";

.settingsPage {
  flex: 6;
}

.settingsPage nav {
  padding: 30px 50px 10px 50px;
}

.settingsPage nav ul {
  display: flex;
  justify-content: center;
  gap: 90px;
  list-style: none;

  flex-wrap: wrap;
}

.settingsPage nav ul li {
  padding: 0px 20px;

  text-align: center;
  display: flex;
  align-items: center;

  cursor: pointer;
  text-decoration: none;
  border-radius: 10px;
}

.settingsPageIcon {
  font-size: 28px !important;
}
.settingsNavLink {

  text-decoration: none;

  padding: 20px 40px;
 
}


@media screen and (max-width: 1200px) {
  .settingsPage nav ul {
    gap: 40px;
  }
}
@media screen and (max-width: 900px) {
  .settingsPage nav ul {
    gap: 25px;
  }
}
@media screen and (max-width: 610px) {
  .settingsPage nav ul {
    gap: 15px;
    flex-direction: column;
  }
  .settingsNavLink {
    padding: 5px 0px;
  }
}

/* THEMES */

/* DARK */
#dark .settingsNavLink {
  background-color: var(--dark-secondary);
  color: rgb(243, 243, 248);
  border: 1px solid rgba(11, 11, 11, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  
}
#dark .active {
  background-color: var(--dark-third);

}
/* PURPLE */
#purple .settingsNavLink {
  background:var(--purple-third-linear);
  color: rgb(243, 243, 248);
  border:1px solid #29233d;
  border-radius: 10px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
}
#purple .active {
  background:var(--purple-primary-linear);
}

/* GREEN */

#green .settingsNavLink {
  background-color:var(--green-secondary);
  color: rgb(243, 243, 248);
}
#green .active {
  background-color:var(--green-third);
}