/* .widgetLarge {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 15px;
 height: 100%;
 display: flex;
 flex-direction: column;

}
#dark.widgetLarge {
  flex: 2;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  padding: 20px;
  background-color: rgb(28, 36, 56);
}


.widgetLargeTitle {
  font-size: 22px;
  font-weight: 600;
}
.widgetLargeTable{
    width: 100%;
    border-spacing: 20px;
   
}

.widgetLargeTh{
  text-align: left;
}

.widgetLargeUser{
  display: flex;
  align-items: center;
  font-weight: 600;
}
.widgetLargeImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.widgetLargeDate, .widgetLargeAmount{
  font-weight: 300;
}
.widgetLargeButon {
  padding: 5px 7px;
  border: none;
  border-radius: 10px;
}
.widgetLargeButon.Low {
  background-color:#e5faf2;
  color:#3bb077;
}
.widgetLargeButon.High {
  background-color:#fff0f1;
  color:#d95087;
}
.widgetLargeButon.Medium {
  background-color:#ebf1fe;
  color:#2a7ade;
}

@media screen and (max-width: 840px) {

  .widgetLarge-Table{
 
  display: flex;
  gap:55px
  }
  .widgetLarge-Table{
    display: flex;
    flex-direction: column;

align-items: center;

  }
  .widgetLargeTable {


    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
padding: 30px 10px;
display: flex;
justify-content: space-between;


    
  }
  .widgetLargeTh{
   display: none;
  }
  .widgetLargeTr{

}

} */

.tableRow{
  border: 2px solid red;
  padding: 12px;
  display: flex;
  justify-content: space-around;
 
}


@media screen and (max-width: 390px) {


  .tableRow{
    background-color: orange;
    padding: 12px;
    display: flex;
    justify-content: space-around;
  }
}