@import "../../index.css";
.widgetLarge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  height: 100%;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}


.tableRow {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.rowTitle {
  flex: 5;
}

.rowProprsContainer {
  flex: 4;
}
.rowPriority {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  font-size: 12px;
}
.rowPriority span {
  width: 50px;
  height: 20px;
  border-radius: 6px;
  padding: 1px 0px;
  line-height: 150%;
  color: rgb(243, 243, 248);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
.rowPriority Span.Low {
  background-color: rgb(149, 199, 149);
}
.rowPriority Span.High {
  background-color: rgb(198, 21, 27);
  font-weight: 600;
}
.rowPriority Span.Medium {
  background-color: rgb(156, 131, 3);
}
.rowType {
  flex: 2;
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rowType span {
  width: 78px;
  border-radius: 6px;
  height: 20px;
  line-height: 175%;
  font-weight: 600;
  color: rgb(243, 243, 248);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
.rowType span.Bug {
  background-color: rgb(218, 121, 121);
}
.rowType span.Enhancement {
  background-color: rgb(178, 134, 225);
}
.rowType span.Question {
  background-color: rgb(112, 145, 213);
}

.rowAction {
  flex: 1;
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.rowAction-icon {
  color: rgb(58, 153, 127);
}
.rowAction-icon:hover {
  color: rgba(235, 243, 237, 0.722);
}
.rowProprsContainer {
  display: flex;
}

@media screen and (max-width: 1500px) {
  .rowTitle {
    flex: 7;
  }
  .rowType {
    flex: 2;
  }
  .rowPriority {
    flex: 1;
  }
  .rowAction {
    flex: 1;
  }
}

@media screen and (max-width: 1350px) {
  .rowTitle {
    flex: 8;
  }
  .rowType {
    flex: 1;
  }
  .rowPriority {
    flex: 1;
  }
  .rowAction {
    flex: 1;
  }
}

@media screen and (max-width: 1200px) {
  .tableRow {
    padding: 16px;
  }
  .rowTitle {
    flex: 8;
    font-size: 14px;
  }
  .rowType {
    flex: 1;
  }
  .rowPriority {
    flex: 1;
  }
  .rowAction {
    flex: 1;
  }
}
@media screen and (max-width: 1050px) {
  #dark .widgetLarge {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 15px;
    gap: 10px;
    height: 100%;
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    /* background-color: rgb(28, 36, 56);  */
  }
  .tableRow {
    padding: 20px;
  }
  .rowTitle {
    flex: 8;
    font-size: 12px;
  }
  .rowType {
    flex: 1;
  }
  .rowPriority {
    flex: 1;
  }
  .rowAction {
    flex: 1;
  }
}

@media screen and (max-width: 980px) {
  .rowTitle {
    flex: 6;
  }
  .rowProprsContainer {
    flex: 4;
  }
}

@media screen and (max-width: 912px) {
  .tableRow {
    padding: 20px;
  }
  .rowTitle {
    padding: 2px !important;
    font-size: 16px;
    word-break: break-all;
  }
}

@media screen and (max-width: 900px) {
  .tableRow {
    display: flex;
    flex-direction: column;
  }
  .rowTitle {
    flex: 9;
    padding: 20px;
    text-align: center;
  }

  .rowPriority {
    padding: 20px;
    text-align: center;
    flex: 1;
  }

  .rowType {
    padding: 20px;
    text-align: center;
    flex: 1;
  }

  .rowAction {
    padding: 20px;
    text-align: center;
    flex: 1;
  }
}
@media screen and (min-width: 840px) {
  #dark .widgetLarge {
    gap: 20px;
  }

  .rowTitle {
    padding: 0px !important;
  }
}

/* @media screen and (max-width: 767px) {

#dark .widgetLarge.hidden{

display: none;
}
} */

@media screen and (max-width: 480px) {
  .rowTitle {
    word-break: break-all;
    flex: 8;
    font-size: 12px;
  }
}

@media screen and (max-width: 390px) {
  .tableRow {
    padding: 12px;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
  }
}

.widgetLarge-missingDataPlaceholderWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.widgetLarge-missingaDataImgWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px 0px;

}

.widgetLarge-missingDataPlaceholderImg {
  max-width: 35%;
  max-height: 35%;
}
.widgetLarge-missingaDataTxtWrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}
.widgetLarge-missingaDataTxtWrapper span {
  color: white;
  font-size: 16px;

}

/* THEMES */

/* DARK */
#dark .widgetLarge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 20px 15px 0px 15px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#dark .widgetLargeTitle {
  color:var(--dark-fourth)
}
#dark .tableRow {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color:var(--dark-secondary);
  border-radius: 5px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#dark .rowTitle {
  flex: 5;
  color: rgb(243, 243, 248);
}
#dark .rowCreatedAt {
  font-size: 13px;
  flex: 2;
}
#dark .rowCreatedAt span {
  color: white;
}

/* PURPLE */
#purple .widgetLarge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 20px 15px 0px 15px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#purple .widgetLargeTitle {
  color: rgb(58, 153, 127);
}
#purple .tableRow {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background: var(--purple-six-linear);
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
}
#purple .rowTitle {
  flex: 5;
  color: var(--purple-color)
}
#purple .rowCreatedAt {
  font-size: 13px;
  flex: 2;
}
#purple .rowCreatedAt span {
  color:var(--purple-color)
}

/* GREEN */
#green .widgetLarge {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
  padding: 20px 15px 0px 15px;
  height: 100%;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#green .widgetLargeTitle {
  color: var(--green-color)
}
#green .tableRow {
  padding: 15px;
  display: flex;
  justify-content: space-around;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: var(--green-secondary);
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  
}
#green .rowTitle {
  flex: 5;
  color: var(--green-color)
}
#green .rowCreatedAt {
  font-size: 13px;
  flex: 2;
}
#green .rowCreatedAt span {
  color:var(--green-color)
}