.userList {
    flex: 6;
    padding: 0px 10px; 
    height:calc(100vh - 50px);
padding:0px 25px
  }

  .userListHeaderWrapper{
 

    padding: 20px 10px;
  }
  .userListHeaderWrapper span{
    
    font-weight: 600;
    color:white;
    font-size: 24px;
   
  }
  .userListHeaderTitleContainer {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 10px;
  }
  #dark.userListHeaderTitleContainer {
    font-size: 22px;
    font-weight: 600;
    padding: 20px 10px;
    color: rgb(243, 243, 248); 
   
  }
  /* .DataGrid {
    width: 100%;
    height: 1200px;
    
  } */
  .userListUser {
    display: flex;
    justify-content: center;
    
  }
  .userListUserImg {
    width: 33px;
    height: 33px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  .userListEdit {
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: #3bb077;
    color: white;
    cursor: pointer;
    margin-right: 15px;
  }
  .userListDelete {
    color: rgb(239, 81, 81);
    cursor: pointer;
  }
  .userListButtonsContainer{
    display: flex;
    flex-direction: row-reverse;
      gap: 5px;
      padding: 10px 15px;
    
      
  }
  .userListButtonsContainer button{
    background-color: blueviolet;
    border: none;
    width: 40px;
    height: 22px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  #dark .userListButtonsContainer button{
    background-color: rgb(87, 148, 186);
    border: none;
    width: 40px;
    height: 22px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
  }
  
  .userListButtonsContainer button.true{
    opacity: 0.5;
  }
  .userListButtonsContainer button.false{
    box-shadow: 1,2,3;
  }