@import "../../index.css";
.newTicket {
  flex: 5;
  width: 100%;
  height: auto;
  margin: 0px 22px;
  overflow-y: auto;
}

.newTicketConent {
  margin-top: 30px;
  padding: 5px 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

  height:auto;
}

.newTicketTop {
  padding: 5px 0px;
  display: flex;
  justify-content: flex-end;
}




.newTicketTop span {
  font-size: 24px;
  font-weight: 600;
}
.newTicketTop button {
  padding: 0px 15px;
  height: 24px;
  border: none;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
}

.newTicketTop button:hover {
  background-color: rgb(249, 188, 249);
}


.newTicketBottom {
  height: 500px;
}

.newTicketItem {
  padding: 0px 30px;
  height: 100px;
  display: flex;
  flex-direction: column;
}
.newTicketItemWrapper {
  display: flex;
  gap: 5px;
}

.newTicketItemSelectWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.newTicketItemSelectWrapper select {
  width: 90%;
  padding: 5px 0px;
  color: rgb(243, 243, 248);
}


.newTicketItemLabel {
  font-size: 14px;
  color: grey;
  margin-bottom: 5px;
}
.newTicketItem input {
  height: 35px;
  border: none;
  border-bottom: 1px solid grey;
}


.newTicketItemDescripion {
  padding: 10px;
  height: max-content;
  display: flex;
  flex-direction: column;

  margin-top: 65px;
}
.newTicketItemDescripion textarea {
  resize: none;
  width: 100%;
  height: 150px;
}



.newTicketAction {
  display: flex;
  margin-top: 40px;
  justify-content: flex-end;
}
.newTicketAction button {
  margin-left: 30px;
  
  padding: 4px 15px;
  border: none;
  font-weight: 600;
  color: white;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 10px;
}
.newTicketSave {
  background-color: rgb(72, 140, 96);
}
.newTicketCancel {
  background-color: red;
}


/* THEMES */

/* DARK */

#dark .newTicketConent {
    margin-top: 30px;
    padding: 5px 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color:var(--dark-secondary)
  }
  #dark h2 {
    color: var(--dark-color);
  }
  #dark .newTicket label {
    color: var(--dark-color);
  }

  #dark .newTicketTop button {
    width: 24px;
    height: 24px;
    border: none;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color:var(--dark-color);
  }
  #dark .newTicketTop button:hover {
    background-color: var(--dark-third)
  }
  #dark .newTicketItemSelectWrapper select {
    width: 90%;
    padding: 5px 0px;
    background-color: rgb(67, 70, 89);
 

  }
  #dark .newTicketItem input {
    height: 35px;
    border: none;
    background-color: rgb(67, 70, 89);
    color:var(--dark-color)
  }
  #dark .newTicketItemDescripion textarea {
    color:var(--dark-color);
    resize: none;
    width: 100%;
    height: 150px;
    background-color: rgb(67, 70, 89);
  }

  /* PURPLE */
  #purple .newTicketConent {
    margin-top: 30px;
    padding: 5px 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color:var(--purple-primary)
  }
  #purple h2 {
    color: var(--purple-color);
  }
  #purple .newTicket label {
    color: var(--purple-color);
  }

  #purple .newTicketTop button {
    width: 24px;
    height: 24px;
    border: none;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color:var(--purple-color);
  }
  #purple .newTicketTop button:hover {
    background-color: var(--purple-third)
  }
  #purple .newTicketItemSelectWrapper select {
    width: 90%;
    padding: 5px 0px;
    background-color:var(--purple-secondary);
 

  }
  #purple .newTicketItem input {
    height: 35px;
    border: none;
    background-color:var(--purple-secondary);
    color:var(--dark-color)
  }
  #purple .newTicketItemDescripion textarea {
    color:var(--dark-color);
    resize: none;
    width: 100%;
    height: 150px;
    background-color:var(--purple-secondary);
  }

  /* GREEN */
  #green .newTicketConent {
    margin-top: 30px;
    padding: 5px 20px;
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    background-color:var(--green-secondary)
  }
  #green h2 {
    color: var(--green-color);
  }
  #green .newTicket label {
    color: var(--green-color);
  }

  #green .newTicketTop button {
    width: 24px;
    height: 24px;
    border: none;
    font-size: 20px;
    background: transparent;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    color:var(--green-color);
  }
  #green .newTicketTop button:hover {
    background-color: var(--green-third)
  }
  #green .newTicketItemSelectWrapper select {
    width: 90%;
    padding: 5px 0px;
    background-color:var(--green-primary);
 

  }
  #green .newTicketItem input {
    height: 35px;
    border: none;
    background-color:var(--green-primary);
    color:var(--green-color)
  }
  #green .newTicketItemDescripion textarea {
    color:var(--dark-color);
    resize: none;
    width: 100%;
    height: 150px;
    background-color:var(--green-primary);
  }