.home{
    flex:5;
    padding: 0px 2px;
    padding-top: 15px;
    
}
#dark.home{
    flex:5;
    padding: 0px 2px;
    padding-top: 15px;
    background-color: rgb(21, 25, 41)
    
}
.homeWidgets{
    display: flex;
    margin: 20px;
    gap:12px
}
.homeCharts{
    width: 100%;
    display: flex;
    

}