.home{
    /* height: calc(100vh - 50px ); */
    padding: 10px;
    flex:6;
    flex-wrap: wrap;
    /* display: grid; */
    display: flex;
    /* TODO: this should be in a media query */
  
    /* height: 100%; */
    width: 100%;
    background: var(--glass);
    border-radius: 2rem;
    gap: 12px;
    /* grid-template-columns:  auto 24rem; */
    overflow: hidden;

}

.homeWidgets{
   
    height: 100%;

}

.mainDash{
   
    flex:2;
    display: flex;
    flex-direction: column;
    gap:45px
}
.homeCharts{
   
    display: flex;
    flex-direction: column;
   flex:1;
gap:15px;

}


@media screen and (max-width: 430px) {
    .homeCharts{
 width: 80%;
    }
}

@media screen and (max-width: 980px) {

.home{
    display: flex;
    flex-direction: column;

}
}