@import "../../index.css";
.home {
  padding: 10px;
  flex: 6;
  flex-wrap: wrap;
  /* display: grid; */
  display: flex;
  /* TODO: this should be in a media query */
  width: 100%;
  background: var(--glass);
  border-radius: 2rem;
  gap: 12px;
  overflow: hidden;
}

.homeWidgets {
  height: 100%;
}

.mainDash {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 45px;
}
.homeCharts {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
}

@media screen and (max-width: 430px) {
  .homeCharts {
    width: 100%;
  }
}

@media screen and (max-width: 980px) {
  .home {
    display: flex;
    flex-direction: column;
  }
}
