.projectList {
  flex: 6;
  margin: 0px 22px;
  height:calc(100vh - 50px);
  overflow-y: hidden;
}

#dark.projectList {
  flex: 6;

  color: rgb(243, 243, 248);
  /* height: calc(100vh - 200px); */
height:calc(100vh - 50px);
  margin: 0px 22px;
  overflow-y: hidden; 
}



#dark .actionWrapper{
  background-color: rgb(21, 25, 41);
  
  font-size: 22px;
    font-weight: 600;
}
.navButtonsContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  padding: 10px 15px;
}
#dark.navButtonsContainer {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  padding: 10px 15px;
  color: rgb(243, 243, 248);
}
.newProjectButton {
  padding: 7px 10px;
  border: none;
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}
#dark.newProjectButton {
  padding: 7px 10px;
  border: none;
  background-color: rgb(56, 59, 139);
  color: white;
  font-weight: 600;
  border-radius: 3px;
  cursor: pointer;
}

.navButtonsContainer button {
  background-color: blueviolet;
  border: none;
  width: 40px;
  height: 22px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
#dark .navButtonsContainer{
 
  background-color: rgb(44, 44, 70);
}

#dark.navButtonsContainer button {
  background-color: rgb(87, 148, 186);
  border: none;
  width: 40px;
  height: 22px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
}
.navButtonsContainer button.true {
  opacity: 0.4;
}
.userListUserImg {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}
.userListUser span {
  display: flex;
  align-items: center;
}
#dark .DataGrid {
  /* background-color: rgb(28, 36, 56); */
  border: none !important;
  color: rgb(243, 243, 248);
 /* max-height: 100%; */
 height: max-content;
}

.MuiDataGrid-columnHeaders {
  background-color: rgb(210, 220, 225);
  color: rgb(33, 33, 35);
  border-bottom: none;
}

#dark .MuiDataGrid-columnHeaders {
  background-color: rgb(44, 44, 70);
  color: rgb(243, 243, 248);
  border-bottom: none;
}
.MuiDataGrid-row{
  border-bottom: 1px solid rgb(226, 226, 227);
  }

#dark .MuiDataGrid-row{
border-bottom: 1px solid rgb(49, 49, 69);
}
.MuiDataGrid-cell{
  border: none !important;
}
#dark .MuiDataGrid-row:hover{
  background-color: rgb(31, 39, 61);
  border-left: none;
}


/* .MuiPaper-root-MuiDrawer-paper,
.MuiDataGrid-footerContainer,
.MuiDataGrid-root,
.MuiDataGrid-row,
.MuiDataGrid-column
.MuiDataGrid {
    border: none !important;
} */

@media screen and (max-width: 900px) {

  .projectDataBottomItemsWrapper{
    border: 2px solid orange;
    display: flex;
  flex-direction: column-reverse;
  }

}

