.msgPopup-container__success{
    background-color: #4caf50;
    color: #fff; /* Kolor tekstu */
    border-radius: 10px; /* Zaokrąglenie krawędzi */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień */
    transition: opacity 0.5s;
  
    min-width: 200px; /* Minimalna szerokość */
  width: auto; /* Automatyczne dopasowanie szerokości do zawartości */
  min-height: 55px; /* Minimalna wysokość */
    position: absolute;
    padding: 14px;
    bottom:2%;
    right:5%

}

.msgPopup-container__error{
  background-color: #7a242e;
  color: #fff; /* Kolor tekstu */
  border-radius: 10px; /* Zaokrąglenie krawędzi */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Cień */
  transition: opacity 0.5s;

  min-width: 200px; /* Minimalna szerokość */
max-width: 300px; /* Automatyczne dopasowanie szerokości do zawartości */
min-height: 55px; /* Minimalna wysokość */
position: absolute;
padding: 14px;
bottom:2%;
right:5%
}