.donut{
    padding: 20px 0px 10px 0px;
    flex:1;
    display: flex;
    justify-content: center;
    /* background-color: rgb(28, 36, 56); */
    -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}
