@import '../../index.css';
.ticketDetails {
  flex: 5;
  padding: 20px;
  height: calc(100vh - 50px);
  overflow:auto;
}



.ticketHeaderContainer {
  display: flex;
  margin-left: 20px;
  margin-top: 10px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.headerIcon {
  font-size: 32px !important;
  color: blue !important;
}
.ticketId {
  font-size: 18px;
  font-weight: 400;
}
.ticketDataContainer {
  display: flex;
}
.ticketDataContainerWrapper {
  display: flex;
}
.ticketDataContainerLeft {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  flex: 3;
  padding: 5px 30px;
}


.ticketDataContainerTop {
  margin-top: 15px;
  flex: 1;
}
.ticketInfoTopItem {
  flex: 1;
  display: flex;
  align-items: center;
}
.ticketInfoTopItem.title input:enabled {
  border-bottom: 1px double grey;
}



.ticketInfoTopItem.title {
  display: flex;
  flex-direction: column;

  align-items: flex-start;
}
.ticketInfoTopItem.title label {
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
}


.ticketInfoTopItem.title input {
  border: none;
  word-wrap: break-word;
  background: transparent;
  width: 100%;

  min-width: auto;
  padding: 3px 5px;
  border: transparent;
  cursor: pointer;
  word-wrap: break-word;
  font-weight: 600;
  font-size: 14px;
}


.ticketDataTopItemWrapper {
  display: flex;
  justify-content: space-around;
}
.ticketDataTopItem {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ticketAuthorInfo {
  border: none;
  border-bottom: 1px solid grey;
  width: 98%;
  padding: 3px 0px;
}
.projectInfo {
  border: none;
  border-bottom: 1px solid grey;
  width: 98%;
  padding: 3px 0px;
}
.ticketDataTopItem input {
  padding: 5px;
}
.ticketDataTopItem label {
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
}
.ticketDataTopItem input {
  border: none;
  border-bottom: 1px solid grey;
  width: 96%;
}

.ticketDataContainerTop-right {
  flex: 5;
}
.ticektDataBottom {
  height: max-content;
  flex-direction: column;
}
.ticketDataBottomItem {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 25px;
}
.ticketDataBottomItem-textArea {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  margin-top: 55px;
}

.ticketDataBottomItem-select {
  margin-top: 20px;
}

.ticketDataBottomItemWrapper {
  display: flex;
  gap: 5px;
}

.ticketDataBottomItemWrapper-select {
  width: 100%;
  display: flex;
  flex-direction: column;
}


.ticketDataBottomItemWrapper-select label {
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
}
.ticketDataBottomItem > input {
  height: 30px;
  border: none;
  border-bottom: 1px solid grey;
  font-size: 15px;
}

.ticketDataBottomItem-textArea textarea {
  height: 85px;
  resize: none;
  width: 100%;
}

.ticketDataBottomItem > label {
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
}
.ticketDataContainerRight {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  flex: 1;
  margin-left: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}
.ticketInfoTop {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.ticketInfoTopImg {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

.ticketInfoItemsContainer {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-evenly;
}
.ticketAuthorDataWrapper {
  display: flex;
  flex-direction: column;
}
.ticketInfoAuthorName {
  font-size: 20px;
  font-weight: 600;
}
.ticketInfoAuthorJobTitle {
  font-weight: 300;
  text-align: center;
}
.ticketInfoBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ticketInfoBottomItem {
  display: flex;

  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.ticketInfoBottomItem > span {
  margin-left: 40px;
}
.ticketInfoBottomItem-span {
  display: flex;
  flex-direction: column;
}
.ticketInfoBottomItem-span span {
  justify-content: center;
  display: flex;
}
.selectTicketPriority {
  text-align: left;
  padding: 5px;
  width: 100%;
  height: 30px;
  font-weight: 600;
}
.ticketInfoButtonWrapper {
  margin-top: 20px;
  display: flex;
  gap: 5px;
}

.ticketInfoButtonWrapper button {
  padding: 6px;
  width: 55px;
  display: flex;
  justify-content: center;
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 400;
  background: rgb(144, 72, 144);
  cursor: pointer;
}

::placeholder {
  color: black;
  font-weight: 400;
}

/* .ticketDetails::-webkit-scrollbar {
  display: none;
} */

/* THEMES */

/* DARK */
#dark .ticketDetails {
  flex: 5;
  padding: 20px;
  color: var(--dark-color);
  height: calc(100vh - 50px);
  overflow:auto;
}

#dark .ticketDataContainerLeft {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  flex: 3;
  padding: 5px 30px;
  background-color: var(--dark-secondary)
}
#dark .ticketInfoTopItem.title input:disabled {
  border-bottom: 1px double grey;
  color: var(--dark-color)
}
#dark .ticketInfoTopItem.title label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--dark-color)
}
#dark .ticketDetails-ticketTitle{
 color:var(--dark-color);
}
#dark .ticketDetails-ticketTitle:enabled{
  background-color: var(--dark-third);
 }

#dark form select:disabled {
  color: rgb(243, 243, 248);
  background-color:var(--dark-primary);
}

#dark form label {
  color: var(--dark-color)
}
#dark select {
  background-color: var(--dark-third);
  color: var(--dark-color)
}
#dark .ticketDataBottomItem-textArea textarea {
  resize: none;
  background-color: var(--dark-third);
  color: var(--dark-color)
}

#dark .ticketDataBottomItem-textArea textarea:disabled {

  background-color: var(--dark-primary);
color: var(--dark-color)
}
#dark .ticketInfoButtonWrapper button{
background-color: var(--dark-third);
}

/* PURPLE */

#purple .ticketDetails {
  flex: 5;
  padding: 20px;
  color: var(--purple-color);
  height: calc(100vh - 50px);
  overflow:auto;
}
#purple .ticketDataContainerLeft {
  border: 2px solid #29233d;
  border-radius: 10px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
  flex: 3;
  padding: 5px 30px;
  background: var(--purple-bg-linear)
}
#purple .ticketInfoTopItem.title input:disabled {
  /* border-bottom: 1px double grey; */
  background-color: var(--purple-primary);
  color: var(--purple-color)
}
#purple .ticketInfoTopItem.title label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--purple-color)
}
#purple .ticketDetails-ticketTitle{
 color:var(--purple-color);
}
#purple .ticketDetails-ticketTitle:enabled{
  background: var(--dark-primary);
 }

#purple form select:disabled {
  color: rgb(243, 243, 248);
  background:var(--purple-primary);
}

#purple form label {
  color: var(--purple-color)
}
#purple select {
  background: var(--dark-primary);
  color: var(--purple-color)
}
#purple .ticketDataBottomItem-textArea textarea {
  resize: none;
  background: var(--dark-primary);
  color: var(--purple-color)
}

#purple .ticketDataBottomItem-textArea textarea:disabled {
  background: var(--purple-primary);
color: var(--purple-color)
}
#purple .ticketInfoButtonWrapper button{
  background-color: var(--purple-third);
  }

/* GREEN */
#green .ticketDetails {
  flex: 5;
  padding: 20px;
  color: var(--green-color);
  height: calc(100vh - 50px);
  overflow:auto;
}
#green .ticketDataContainerLeft {
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  flex: 3;
  padding: 5px 30px;
  background-color: var(--green-secondary)
}
#green .ticketInfoTopItem.title input:disabled {
  border-bottom: 1px double grey;
  color: var(--green-color);

}
#green .ticketInfoTopItem.title label {
  margin-bottom: 5px;
  font-size: 14px;
  color: var(--green-color)
}
#green .ticketDetails-ticketTitle{
 color:var(--green-color);
}
#green .ticketDetails-ticketTitle:enabled{
  background-color: var(--green-third);
 }

#green form select:disabled {
  color: rgb(243, 243, 248);
  background-color:var(--green-primary);
}

#green form label {
  color: var(--purple-color)
}
#green select {
  background-color: var(--green-third);
  color: var(--purple-color)
}
#green .ticketDataBottomItem-textArea textarea {
  resize: none;
  background: var(--green-third-linear);
  color: var(--green-color)
}
#green .ticketDataBottomItem-textArea textarea:disabled {
  background-color: var(--green-primary);
color: var(--green-color)
}
#green .ticketInfoButtonWrapper button{
  background-color: var(--green-third);
  }