@import "../../index.css";
.newProject {
  flex: 7;
  width: 100%;

  min-height: 100%;
  margin: 0px 22px;
  display: flex;
  padding: 0px 20px;
  gap: 20px;

}
.newProject form {
  padding: 10px 0px;
  /* background: var(--dark-secondary); */
  border-radius: 7px;
  flex: 5;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.newProject-header {
  font-weight: 600;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
display: flex;
justify-content: space-between;
  background: var(--dark-secondary);
  border-radius: 5px;
  width: 100%;
  padding: 20px;
}

.newProject-header button{
  padding: 6px 18px;
  border: none;
  border-radius: 5px;
  background: var(--dark-fourth);
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* THEMES */

/* DARK */
#dark .newProject {
  flex: 7;
  width: 100%;
  padding: 10px 5px;
  min-height: 100%;
  background-color: var(--dark-primary);
}
#dark .newProjectConent {
  padding: 5px 30px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: var(--dark-secondary);
  height: calc(100vh - 160px);
}
#dark .newProjectTop {
  padding: 18px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--dark-color);
}

#dark .newProjectConent label {
  color: var(--dark-color);
}
/* MUI SELECT  */
#dark .newProject input {
  background-color: var(--dark-primary);
  color: var(--dark-color);
}
#dark .newProject textarea {
  background-color: var(--dark-primary);
  color: var(--dark-color);
}

#dark .css-art2ul-ValueContainer2 {
  background-color: var(--dark-primary);
  border: none;
}
#dark .css-4xgw5l-IndicatorsContainer2 {
  background-color: var(--dark-primary);
}

#dark .css-1i837h3-ValueContainer2 {
  background-color: var(--dark-primary);
}

#dark .css-16xfy0z-control {
  background-color: rgb(67, 70, 89);
  border: none;
}
#dark .css-13cymwt-control {
  background-color: rgb(67, 70, 89);
}
#dark .newProjectContentTopButton button {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color: var(--dark-color);
}
#dark .newProjectContentTopButton button:hover {
  background-color: var(--dark-fourth);
}

/* PURPLE */

#purple .newProject {
  flex: 5;
  width: 100%;
  padding: 20px 0px;
  height: calc(100vh-50px);
  background-color: var(--purple-secondary);
}
#purple .newProjectConent {
  padding: 5px 30px;
  background: var(--purple-six-linear);
  height: calc(100vh - 160px);
  border: 2px solid #29233d;
  border-radius: 10px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
}
#purple .newProjectTop {
  padding: 18px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--purple-color);
}

#purple .newProjectConent label {
  color: var(--purple-color);
}
/* MUI SELECT  */
#purple .newProject input {
  background-color: var(--purple-primary);
  color: var(--dark-color);
  border: none;
}
#purple .newProject textarea {
  background-color: var(--purple-primary);
  color: var(--purple-color);
}

#purple .css-art2ul-ValueContainer2 {
  background-color: var(--purple-primary);
  border: none;
}
#purple .css-4xgw5l-IndicatorsContainer2 {
  background-color: var(--purple-primary);
}

#purple .css-1i837h3-ValueContainer2 {
  background-color: var(--purple-primary);
}

#purple .css-16xfy0z-control {
  background-color: rgb(67, 70, 89);
  border: none;
}
#purple .css-13cymwt-control {
  background-color: var(--purple-primary);
}
#purple .newProjectContentTopButton button {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color: var(--purple-color);
}
#purple .newProjectContentTopButton button:hover {
  background-color: var(--purple-third);
}

/* GREEN */

#green .newProject {
  flex: 5;
  width: 100%;
  padding: 20px 0px;
  height: calc(100vh-50px);
  background-color: var(--green-primary);
}
#green .newProjectConent {
  padding: 5px 30px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  background-color: var(--green-secondary);
  height: calc(100vh - 160px);
}
#green .newProjectTop {
  padding: 18px 0px;
  display: flex;
  justify-content: space-between;
  color: var(--green-color);
}

#green .newProjectConent label {
  color: var(--green-color);
}
/* MUI SELECT  */
#green .newProject input {
  background-color: var(--green-primary);
  color: var(--dark-color);
}
#green .newProject textarea {
  background-color: var(--green-primary);
  color: var(--purple-color);
}

#green .css-art2ul-ValueContainer2 {
  background-color: var(--green-primary);
  border: none;
}
#green .css-4xgw5l-IndicatorsContainer2 {
  background-color: var(--green-primary);
}

#green .css-1i837h3-ValueContainer2 {
  background-color: var(--green-primary);
}

#green .css-16xfy0z-control {
  background-color: rgb(67, 70, 89);
  border: none;
}
#green .css-13cymwt-control {
  background-color: var(--green-secondary);
}
#green .newProjectContentTopButton button {
  width: 24px;
  height: 24px;
  border: none;
  font-size: 20px;
  background: transparent;
  cursor: pointer;
  border-radius: 5px;
  font-weight: 600;
  color: var(--green-color);
}
#green .newProjectContentTopButton button:hover {
  background-color: var(--green-fourth);
  color: rgb(90, 86, 86);
}

.asigned-member-list {
  width:100%;
  display: flex;
  flex-direction: column;
  gap: 15px;

border-radius: 5px;
}

.asigned-member-item {
  background: var(--dark-secondary);

  border-radius: 5px;
  width: 100%;
  display: flex;
  align-items: center;
  color: white;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr 1fr;
  grid-template-rows: auto;

  padding: 2px 10px;
}

.asigned-member-avatar {
  width: 40px;
  height: 40px;
}
.asigned-member-avatar img {
  height: 100%;
  width: 100%;

  border-radius: 50%;
}
.asigned-member-item button {
  width: 50%;
  margin: 0 auto;
  padding: 4px 0px;
  border: none;
  cursor: pointer;
}
.asigned-member-list__placeholder {
  height: 200px;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 10px;

  background: var(--dark-secondary);
  border-radius: 5px;
}
.asigned-member-list__placeholder span {
  color: white;
  font-size: 18px;
}
.asigned-member-list__placeholder img {
  height: 4vw;
  width: 4vw;
}
