@import "../../index.css";
.loginPage {
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);

}

.loginPage form{
  display: flex;
flex-direction: column;
align-items: center;
}
.loginPage-form h1 {
  color: rgb(96, 11, 96);
  text-align: center;
}

.loginPage form button {
  height: 35px;
  width: max-content;
  padding: 0 25px;
  border: none;
  background-color: blueviolet;
  color: white;
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}

.topbar-login span {
  color: blueviolet;
}

/* THEMES */

#dark .loginPage-form button {
  height: 35px;
  width: max-content;
  padding: 0 25px;
  border: none;
  background-color: var(--dark-third);
  color: var(--dark-color);
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
#dark .topbar-login span {
  color: var(--dark-color);
}

/* PURPLE */



#purple .loginPage-form button {
  height: 35px;
  width: max-content;
  padding: 0 25px;
  border: none;
  background-color: var(--purple-third);
  color: var(--purple-color);
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
#purple .topbar-login span {
  color: var(--purple-color);
}

/* GREEN */



#green .loginPage-form button {
  height: 35px;
  width: max-content;
  padding: 0 25px;
  border: none;
  background-color: var(--green-third);
  color: var(--green-color);
  font-weight: 600;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
}
#green .topbar-login span {
  color: var(--green-color);
}
