@import url("../../index.css");

.accountSettings {
  flex: 6;
  /* border: 2px solid rgb(0, 255, 140); */
  padding: 15px 20px;
  height: auto;
  display: flex;

  height: calc(100vh - 200px);
  flex-direction: column;
  height: auto;
}

.accountSettingsContent {
  /* border: 2px solid yellow; */
  height: 100%;
  padding: 40px 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.accountSettings-right {
  flex: 1;
  border: 2px solid #e7e7ea;
  border-radius: 10px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
  padding: 20px 40px;
  min-height: 60vh;
}

.accountSettings-right form {
  /* border: 2px solid white; */
  padding: 0px 10px;

  display: flex;
  flex-direction: column;
  gap: 15px;
}
.accountSettings-left {
  flex: 1;
  /* border: 2px solid orange; */
  display: flex;
  flex-direction: column;
  padding: 35px;
  border: 2px solid #e7e7ea;
  border-radius: 10px;
  box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 0.3);
}

.statusMessageContainer{
  padding: 5px 30px;
  font-size: 14px;
  color:orange
}

.sectionToggleContainer{
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
  gap:50px;
  padding: 0px 20px;
}
.changePasswordTitleWrapper{

  margin-bottom: 25px;
}
.sectionToggleContainer button{
border: none;
background:#345495;
flex:1;
font-weight: 600;
color:var(--dark-color);
text-align: center;
padding: 5px;
border-radius: 5px;
border: 1px solid #666363;
cursor: pointer;

}
.sectionToggleContainer button.active{
  background:#5e80b7;
  border: 1px solid transparent;
  }
.accountSettings-right-item {
display: flex;
flex-direction: column;

gap:10px;

/* border: 2px solid red; */
}
.changePasswordDataWrapper-item{
 
  display: flex;
  flex-direction: column;
  padding: 10px 35px;

  position: relative;
  gap:4px;

  /* border: 2px solid red; */
}
.changePasswordDataWrapper-item span{
flex:1;
font-size: 14px;
}
.changePasswordDataWrapper-item input{
  padding: 5px;
  border-radius: 5px;
 border: 1px solid rgb(212, 208, 208);
 background:rgb(249, 248, 248);


flex:2;
}
.unhidePassword{
  position: absolute;
  top:50%;
  right:0;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.unhidePassword:hover{
color:rgb(155, 74, 193);
transition: all 0.2s ease-in-out;
}
.changePasswordButtonsWrapper{
  
  display: flex;
  margin-top: 40px;
  justify-content: flex-end;
}
.changePasswordButtonsWrapper button{
padding: 6px 24px;
border: none;
border-radius: 5px;
font-weight: 600;
background:rgb(33, 111, 33);
color:white;
}

/* .handleChangePassworErrorWrapper{

  display: flex;
  justify-content: flex-start;
  padding: 0px 30px;
 
}
.handleChangePassworError{
  text-align: center;
  font-size: 12px;
  color:rgb(171, 70, 182);
  font-weight: 600;
} */


@media screen and (max-width: 1250px) {
  .accountSettings-right-item {
    display: flex;
    flex-direction: column;
  }
  .accountSettings-right-item,
  select {
    width: 100%;
    padding: 10px;
  }


  .accountSettings-right form {
    padding: 0;
  }
  .themeOptionsWrapper ul {
    display: flex;
    flex-direction: column;
  }
  .themeOptionsWrapper ul li {
    padding: 5px;
  }
  .themeOptionsWrapper ul li span {
    padding: 5px;

    border: 1px solid rgba(255, 255, 255, 0.144);
    border-right: 1px solid rgba(255, 255, 255, 0.068);
    border-bottom: 1px solid rgba(255, 255, 255, 0.096);
  }
}

.accountSettings-right-item label {
  flex: 1;
}
.accountSettings-right-item select {
  flex: 3;
}

.accountSettings-left-item {
  /* flex-direction: column; */
  display: flex;
  padding: 35px 0px;
}
.accountSettings-left-item span {
  flex: 1;
  display: block;
}

.themeOptionsWrapper {
  flex: 3;
  /* border: 2px solid red; */
}
.themeOptionsWrapper ul {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;

  /* justify-content: space-around; */
}
.themeOptionsWrapper ul li {
  list-style-type: none;
  flex: 1;
}
.themeOptionsWrapper ul li span {
  display: block;
  padding: 10px 30px;
  border-radius: 5px;

  /* border: 2px solid yellow; */
}

.themeOptionsWrapper ul li span.theme-dark {
  background-color: rgb(21, 25, 41);
}
.themeOptionsWrapper ul li span.theme-dark.active {
  outline: 2px solid #007bff; /* kolor ramki */
  outline-offset: 2px; /* odstęp między ramką a elementem */
}
.themeOptionsWrapper ul li span.theme-light {
  background-color: rgb(230, 226, 226);
}
.themeOptionsWrapper ul li span.theme-light.active {
  outline: 2px solid #007bff; /* kolor ramki */
  outline-offset: 2px; /* odstęp między ramką a elementem */
}
.themeOptionsWrapper ul li span.theme-purple {
  background-color: rgb(122, 23, 179);
}
.themeOptionsWrapper ul li span.theme-purple.active {
  outline: 2px solid #007bff; /* kolor ramki */
  outline-offset: 2px; /* odstęp między ramką a elementem */
}
.themeOptionsWrapper ul li span.theme-green {
  background-color: rgb(25, 66, 43);
}
.themeOptionsWrapper ul li span.theme-green.active{
  outline: 2px solid #007bff; /* kolor ramki */
  outline-offset: 2px; /* odstęp między ramką a elementem */
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.themeOptionsWrapper .customize-sidebar {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  opacity: 0;
}

.themeOptionsWrapper .customize-sidebar li span {
  border: 1px solid black;
  /* CUSTHOM SIDEBARDS FOR LIGHT THEME  */
}
.themeOptionsWrapper .customize-sidebar li span.active {
  outline: 2px solid #007bff; /* kolor ramki */
  outline-offset: 2px; /* odstęp między ramką a elementem */
}

.themeOptionsWrapper .customize-sidebar li .light-two {
  background: linear-gradient(to bottom right, #1e3c72, #2a5298);
}
.themeOptionsWrapper .customize-sidebar li .light-four {
  background: linear-gradient(to bottom right, #a65929, #161616);
}
.themeOptionsWrapper .customize-sidebar li .moon {
  background-color: yellow;
}
.themeOptionsWrapper .customize-sidebar li .light-three {
  background: linear-gradient(to bottom right, #1c2331, #384a5d);
}
.themeOptionsWrapper .customize-sidebar li .light-default {
  background: linear-gradient(to bottom right, #2b2d42, #1c1e2e);
}

/* CURSTOM SIDEBARDS FOR DARK THEME  */

.themeOptionsWrapper .customize-sidebar li .dark-default {
  background: var(--dark-secondary);
}

.themeOptionsWrapper .customize-sidebar li .dark-two {
  background-image: linear-gradient(45deg, #0a2c5a, #121212, rgba(18, 18, 18, 0));
  background-repeat: no-repeat;
  background-size: cover;
}

.themeOptionsWrapper .customize-sidebar li .dark-three {
  background: rgba(0, 0, 0, 0.5);
  background-image: linear-gradient(60deg, rgba(77, 182, 172, 0.3), rgba(0, 0, 0, 0.4), rgba(0, 150, 136, 0.6));
}

.themeOptionsWrapper .customize-sidebar li .dark-four {
  background: linear-gradient(
    to bottom right,
    #001b1f,
    #264653,
    #2a2d34,
    #000000
  );
}

/* CUSTOM SIDEBAR FOR PURPLE THEME */

.themeOptionsWrapper .customize-sidebar li .purple-default {
  background: var(--dark-secondary);
}

.themeOptionsWrapper .customize-sidebar li .purple-two {
  background: linear-gradient(
    to bottom right,
    #000000,
    #1e1a2e,
    #634173,
    #8b62a7,
    #634173,
    #1e1a2e
  );
  background-color: #3f3d56;
  background-blend-mode: multiply;
}

.themeOptionsWrapper .customize-sidebar li .purple-three {
  background: linear-gradient(
    to bottom left,
    #131313 0%,
    #3c2d4d 10%,
    #131313 15%,
    #503e77 30%,
    #131313 35%,
    #4f4d77 45%,
    #131313 50%,
    #3c2d4d 65%,
    #131313 70%,
    #503e77 80%,
    #131313 85%,
    #3c2d4d 90%,
    #131313 100%
  );
}

.themeOptionsWrapper .customize-sidebar li .purple-four {
  background: linear-gradient(to bottom, #1d1337 0%, #654ea3 100%);
}

/* THEMES */

/* DARK */
#dark .accountSettings {
  color: var(--dark-color);
}

#dark .accountSettings-right {
  background-color: rgb(28, 36, 56);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#dark .accountSettings-left {
  background-color: rgb(28, 36, 56);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}

#dark .themeOptionsWrapper .customize-sidebar li span {
  border: 2px solid rgb(116, 121, 133);
}
#dark .themeOptionsWrapper .customize-sidebar li span.active {
  outline: 2px solid #007bff; /* kolor ramki */
  outline-offset: 2px; /* odstęp między ramką a elementem */
}
#dark .changePasswordDataWrapper-item span{
  flex:1;
  font-size: 14px;
  }
  #dark .changePasswordDataWrapper-item input{
    padding: 4px;
    border-radius: 5px;
    border: none;
  
  flex:2;
  }
  #dark .unhidePassword{
    position: absolute;
    top:50%;
    right:0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  #dark .unhidePassword:hover{
  color:rgb(13, 107, 107);
  transition: all 0.2s ease-in-out;
  }
  #dark .changePasswordButtonsWrapper{
    
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
  }
  #dark .changePasswordButtonsWrapper button{
  padding: 6px 24px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background:var(--dark-third);
  color:var(--dark-color);
  }
  










/* PURPLE */

#purple .accountSettings {
  color: var(--purple-color);
}

#purple .accountSettings-right {
  background: var(--purple-six-linear);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#purple .accountSettings-left {
  background: var(--purple-six-linear);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#purple .themeOptionsWrapper .customize-sidebar li span {
  border: 2px solid rgb(84, 80, 86);
}
#purple .themeOptionsWrapper .customize-sidebar li span.active {
  outline: 2px solid #007bff; /* kolor ramki */
  outline-offset: 2px; /* odstęp między ramką a elementem */
}

#purple .changePasswordDataWrapper-item span{
  flex:1;
  font-size: 14px;
  }
  #purple .changePasswordDataWrapper-item input{
    padding: 4px;
    border-radius: 5px;
    border: none;
  
  flex:2;
  }
  #purple .unhidePassword{
    position: absolute;
    top:50%;
    right:0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  #purple .unhidePassword:hover{
  color:rgb(182, 112, 47);
  transition: all 0.2s ease-in-out;
  }
  #purple .changePasswordButtonsWrapper{
    
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
  }
  #purple .changePasswordButtonsWrapper button{
  padding: 6px 24px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background:var(--purple-primary-radial);
  color:var(--dark-color);
  }
  





/* GREEN */
#green .accountSettings {
  color: var(--green-color);
}

#green .accountSettings-right {
  background-color: var(--green-secondary);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#green .accountSettings-left {
  background-color: var(--green-secondary);
  border: 1px solid rgba(255, 255, 255, 0.144);
  border-right: 1px solid rgba(255, 255, 255, 0.068);
  border-bottom: 1px solid rgba(255, 255, 255, 0.096);
}
#green .themeOptionsWrapper .customize-sidebar li span {
  border: 2px solid rgb(81, 84, 81);
}
#green .themeOptionsWrapper .customize-sidebar li span.active {
  outline: 2px solid #007bff; /* kolor ramki */
  outline-offset: 2px; /* odstęp między ramką a elementem */
}
#green .changePasswordDataWrapper-item span{
  flex:1;
  font-size: 14px;
  }
  #green .changePasswordDataWrapper-item input{
    padding: 4px;
    border-radius: 5px;
    border: none;
  
  flex:2;
  }
  #green .unhidePassword{
    position: absolute;
    top:50%;
    right:0;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  #green .unhidePassword:hover{
  color:rgb(190, 181, 19);
  transition: all 0.2s ease-in-out;
  }
  #green .changePasswordButtonsWrapper{
    
    display: flex;
    margin-top: 40px;
    justify-content: flex-end;
    
  }
  #green .changePasswordButtonsWrapper button{
  padding: 6px 24px;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  background:rgb(11, 110, 135);
  color:var(--green-color);
  }
  
