@import './index.css';
.container{
    display: flex;
    position:relative;

}


/* THEMES */
#dark.container{
    display: flex;
    background: var(--dark-primary);
 
 
}
#purple.container{
    display: flex;
    background: var(--purple-fourth-linear)
}
#green.container{
    display: flex;
    background: var(--green-primary)
}

#light.container{
background-color: rgb(243, 243, 248);
}