@import './index.css';
.container{
    display: flex;
    position:relative;
}


.sidebarLink{
    text-decoration: none;
    color: inherit;
}

/* THEMES */
#dark.container{
    display: flex;
    background: var(--dark-primary)
}
#purple.container{
    display: flex;
    background: var(--purple-fourth-linear)
}
#green.container{
    display: flex;
    background: var(--green-primary)
}
